@font-face {
    font-family: 'URW DIN Arabic';
    src: local('URW DIN Arabic Medium'), local('URW-DIN-Arabic-Medium'),
        url('URWDINArabic-Medium.woff2') format('woff2'),
        url('URWDINArabic-Medium.woff') format('woff'),
        url('URWDINArabic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  body {font-family: 'URW DIN Arabic', Arial, Helvetica, sans-serif !important;} 