.articles-category.container {
  padding: 141px;

}

.articles-category h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}



.articles-category .cards-section article {

  width: 30%
}

.articles-category .cards-section h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
}

.articles-category .cards-section .last-cards {
  width: 47.1%;
  height: 350px
}

.articles-category .cards-section .last-cards img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.articles-category .create-free-account h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 160%;
}

.articles-category .create-free-account p {
  width: 50%;
  margin: 24px auto 48px auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}

.articles-category .create-free-account button {
  width: 25%
}


.articles-category .cards-section .content-card {
  width: 100%
}

.articles-category .cards-section .content-card article {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  gap: 30px;
  box-shadow: none;
}

.articles-category .cards-section .content-card article:hover {
  cursor: default;
}

.articles-category .cards-section .content-card img {
  width: 32px;
  height: 20px;
  transition: all 0.3s;
  transform: rotate(-90deg)
}

.articles-category .cards-section .content-card img:hover {
  cursor: pointer;
}

.articles-category .second-page .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px
}

.articles-category .second-page .card article {
  width: 47%
}