.articles-category h3 {
  font-size: 32px;
}

.articles-category .create-free-account h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;

}

.articles-category .create-free-account p {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;

}

.articles-category .cards-section .last-cards {
  height: 450px
}

.articles-category .cards-section .last-cards img {
  width: 100%;
  height: 87%;
  object-fit: cover;
}