
.articles-category.container {
  text-align: center;
  padding: 8px;
}

.articles-category h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.articles-category .cards-section article {

  padding: 8px;
  margin-bottom: 16px;
  background: #FFFFFF;
  box-shadow: 0px 39px 51px rgba(36, 107, 237, 0.12);
  border-radius: 8px;
  transition: all 0.3s
}

.articles-category .cards-section img {
  width: 100%;
  border-radius: 8px;
}

.articles-category .cards-section h4 {
  margin: 0px;
  padding: 16px;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
}

.articles-category .create-free-account h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
}

.articles-category .create-free-account p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #5C5C5C;
}

.articles-category .create-free-account button {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  padding: 16px 32px;
  background: #1052EF;
  box-shadow: 0px 21px 34px rgba(105, 164, 255, 0.39);
  border-radius: 8px;
  border: 0px;
  width: 90%
}

.articles-category .create-free-account {
  margin-top: 200px;
}

.articles-category .cards-section article:hover {
  cursor: pointer;
  box-shadow: 0px 21px 34px rgba(105, 164, 255, 0.8);
}

.articles-category .second-page .title-second-article{
  display: flex;
flex-direction: row-reverse;
  align-items:center;
  gap:20px;
}
.articles-category .second-page .title-second-article img{
    width: 20px
      ;transform: rotate(-90deg);
}
.articles-category .second-page article button{
  border: 1px solid #1152F2;
border-radius: 10px;
  font-weight: 700;
font-size: 16px;
line-height: 160%;
color: #1152F2;
  padding: 20px;
  width: 100%;
  background-color: white;
}
.articles-category .second-page article p{
  text-align: right;
  font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #393939;
  margin: 0px;
    margin-bottom:24px
      ;padding: 0px 16px;
}
.articles-category .second-page article h4{
  padding-bottom:  0px;
  padding-bottom: 16px;
}
.articles-category  .third-page .title-third-article{
display:flex;
  align-items: center;
  flex-direction: row-reverse;
  gap:20px;
}
.articles-category .third-page .title-third-article img{
width: 20px;
 transform: rotate(-90deg)
}
.justify-right{
  justify-content: right; 
}
.articles-category .cards-section .card-page-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px
}
.articles-category .third-page .article-page3-first{
  padding:8px;
  background-color: #F1F6FF;
  border-radius: 8px;

}
.articles-category .third-page .article-page3-first div{
    display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.articles-category .third-page .article-page3-first div div{
  display: flex;
  width: 60%;
  gap:0px;
  justify-content: right;
}
.articles-category .third-page .article-page3-first div img{
  width: 20%
}
.articles-category .third-page .article-page3-second{
  margin-top:36px;
  text-align: right;
  box-shadow: none;
}
.articles-category .third-page .article-page3-third{
  direction: rtl;
  box-shadow: none;
  text-align: right;
}
.articles-category .third-page .article-page3-third h4{
  font-weight: 700;
font-size: 16px;
line-height: 160%;
color: #000000;
padding: 0px;

}
.articles-category .third-page .article-page3-third ul{
  padding-right: 16px;
}
.articles-category .third-page .article-page3-third li{
  margin-bottom: 10px
}