.privacy-policy.container {
padding: 256px
}
.privacy-policy h4{
  font-weight: 700;
font-size: 32px;
line-height: 140%;
  margin-bottom:72px;
}
.privacy-policy h5{
font-weight: 700;
font-size: 24px;
line-height: 160%;
}
.privacy-policy p{
  font-weight: 400;
font-size: 24px;
line-height: 160%;
}
.privacy-policy div{
  margin-bottom: 64px;
}