
.privacy-policy.container {
  padding: 16px;
  text-align: right;
}

.privacy-policy h4 {
  margin: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.privacy-policy h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  margin: 0px;
  padding: 0px;
}

.privacy-policy p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  margin: 0px;
  padding: 0px;
}

.privacy-policy div {
  margin-bottom: 48px;
}