.about-us-page .container {
    text-align: center;
    padding: 16px;
    padding-top: 0px;
}

.about-us-title {
    margin-top: 75px;
}

.about-us-title h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--r-primary);
    margin-bottom: 16px
}

.about-us-title p {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #5C5C5C;
    margin-bottom: 8px;

}

.about-us-building-section {
    padding: 0px;
    margin-bottom: 72px;
}

.about-us-building-section img {
    width: 100%;

}

.about-us-building-section p {
    padding: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
}

.about-us-rouad-team h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 16px;
    margin-top: 32px;
    color: var(--r-primary)
}

.about-us-rouad-team {
    margin-bottom: 72px
}

.about-us-rouad-team p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #000000;

}

.about-us-whay-rouad h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: var(--r-primary);
}

.about-us-whay-rouad ul {
    margin: 16px;
    margin-top: 24px;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #5C5C5C;
}

.about-us-rouad-story {
    margin-top: 7px;
}

.about-us-rouad-story h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: var(--r-primary);
    margin-bottom: 24px;
}

.about-us-rouad-story ul {
    text-align: right;
    margin: 0px;
    color: #000000;
    list-style: none;
}

.about-us-rouad-story li {
    margin-bottom: 24px
}

.about-us-rouad-story p {
    text-align: right;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

.about-us-rouad-story span {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: black;
}

.about-us-arabic-techno {
    margin-top: 72px
}

.about-us-arabic-techno img {
    margin-bottom: 36px
}

.about-us-arabic-techno h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: var(--r-primary)
}

.about-us-arabic-techno img {
    width: 80%
}

.why-rouad-title {
    font-weight: 700;
    color: #000000;
}