.about-us-title h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
}

.about-us-title p {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

.about-us-building-section p {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}

.about-us-rouad-team h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
}

.about-us-rouad-team p {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}

.about-us-whay-rouad h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
}

.about-us-whay-rouad ul {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;

  color: #000000;
}

.about-us-whay-rouad img {
  width: 100%
}

.about-us-rouad-story h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
}

.about-us-rouad-story p {
  font-size: 24px;
  line-height: 160%;
}

.about-us-rouad-story span {
  font-size: 24px;
}

.about-us-rouad-story ul {
  font-size: 24px;
}

.about-us-arabic-techno img {
  width: 70%
}

.about-us-arabic-techno h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
}