.about-us-page .container {
  text-align: center;
}

.about-us-title h4 {
  font-size: 24px;
}

.about-us-title p {
  font-size: 16px;
  margin-bottom: 32px;
}

.about-us-building-section img {
  margin-bottom: 32px;
}

.about-us-building-section p {
  font-size: 20px;
}

.about-us-rouad-team {
  margin-top: 216px;
}

.about-us-rouad-team img {
  width: 50%
}

.about-us-rouad-team h4 {
  margin-top: 80px;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
}

.about-us-rouad-team p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  padding: 0px 42px;
}

.about-us-whay-rouad {
  margin-top: 216px;
}

.about-us-whay-rouad h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
}

.about-us-whay-rouad article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

}

.about-us-whay-rouad ul {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}

.about-us-rouad-story {
  margin-top: 216px;
}

.about-us-rouad-story h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 42px;
}

.about-us-rouad-story p {
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 40px
}

.about-us-rouad-story span {
  font-size: 20px;
}

.about-us-rouad-story {
  margin-top: 216px;
}

.about-us-rouad-story li {

  margin-bottom: 40px
}

.about-us-rouad-story ul {
  font-size: 20px;
}

.about-us-arabic-techno img {
  margin-bottom: 120px
}

.about-us-arabic-techno img {
  width: 70%
}