.about-us-page .about-us-building-section img{
  margin-bottom:24px;

}
.about-us-page .about-us-whay-rouad  article ul h3{
    font-weight: 700;
font-size: 16px;
line-height: 140%;
  margin-bottom:20px
}
.about-us-page .about-us-whay-rouad  article ul p{
  color: #000000;
}