
.articles-category.container{
      max-width: 580px;
  width: 100%;
  margin: auto;
  margin-top:100px;
  
 
}
.articles-category .cards-section .card-page-1{
  gap: 8px;
  
}
.articles-category .cards-section .card-page-1 article h4{
  white-space: nowrap;
}
.articles-category .card-page-1 article{
width: 32.3%;
height: 265px;
}
.articles-category .card-page-1 article img{
  width: 176.67px;
height: 199px;
  object-fit: cover
}
.articles-category .cards-section .card-page-1 article.last-cards{
  width: 49%
}
.articles-category .cards-section .card-page-1 article.last-cards img{
  width: 100%
}
.articles-category .create-free-account h4{
  font-weight: 700;
font-size: 24px;
line-height: 160%;
}
.articles-category .create-free-account  p{
  font-weight: 400;
font-size: 20px;
line-height: 160%;
}
.articles-category .create-free-account button{
  width: 70%
}
.articles-category .fourth-section-cards{
  padding-bottom: 100px
}
.articles-category .third-page .title-third-article h1{
  font-weight: 700;
font-size: 20px;
line-height: 160%;
}
.articles-category .third-page .article-page3-first img{
  width: 578px;
height: 283px;
  object-fit: cover;
}
.articles-category .third-page .article-page3-first div img{
  width: 44px;
  height: 44px;
}
.articles-category .third-page .article-page3-second p{
  font-weight: 400;
font-size: 14px;
line-height: 160%;

color: #000000;
} 
.articles-category .third-page .article-page3-third p{
  font-weight: 400;
font-size: 14px;
line-height: 160%;


color: #000000;
}
.articles-category .third-page .article-page3-third h4{
  font-weight: 700;
font-size: 18px;
line-height: 160%;
  margin-bottom:16px;
}
.articles-category .third-page .article-page3-third ul{
    font-weight: 400;
font-size: 14px;
line-height: 160%;


color: #000000;
}
.articles-category .third-page .article-page3-forth img{
  width: 594px;
height: 495px;
  object-fit: cover;
  margin-bottom:64px;
}
.articles-category .third-page .article-page3-forth h4{
  font-weight: 700;
font-size: 18px;
line-height: 160%;
color: #000000;
}
.articles-category .third-page .article-page3-forth p{
  font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #000000;
}
.articles-category .third-page .article-page3-forth .colored-paragraph{
  font-weight: 700;
font-size: 18px;
line-height: 160%;
}
.articles-category .third-page .article-page3-forth .special-paragraph{
  font-weight: 400;
font-size: 18px;
line-height: 160%;
}
.articles-category .third-page .article-page3-fifth h4{
  font-weight: 700;
font-size: 18px;
line-height: 160%;
color: #000000;
}
.articles-category .third-page .article-page3-fifth p{
  font-weight: 400;
font-size: 14px;
line-height: 160%;

color: #000000;
}
.articles-category .third-page .article-page3-fifth ul{
  font-weight: 400;
font-size: 14px;
line-height: 160%;

color: #000000;
}
.articles-category .third-page .article-page3-six p ,
ul{
  font-weight: 400;
font-size: 14px;
line-height: 160%;

color: #000000;
}
.articles-category .third-page .article-page3-six .special-paragraph{
  margin-top:64px;
  font-weight: 400;
font-size: 18px;
line-height: 160%;
}
.articles-category .third-page .article-page3-six .colored-paragraph{
    font-weight: 700;
font-size: 18px;
line-height: 160%;
}
.articles-category .third-page .article-page3-seven {
  margin-top: 10px;
  justify-content: center;
}
.articles-category .third-page .article-page3-eight .comment-text{
  font-weight: 400;
font-size: 16px;
line-height: 21px;

color: #666666;
}
.articles-category .third-page .article-page3-eight .add-comment{
  position: relative;
  height: 275px
}
.articles-category .third-page .article-page3-eight .add-comment button{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 60%;
  
}
.articles-category .second-page article:hover{
  box-shadow: none;
  cursor: default;
}