.articles-category.container {
  text-align: center;
  margin-top: 100px;
  margin-right: 8px;
  margin-left: 8px;
}

.articles-category h3 {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}

.articles-category .cards-section article {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  background: #FFFFFF;
  box-shadow: 0px 39px 51px rgba(36, 107, 237, 0.12);
  border-radius: 8px;
  transition: all 0.3s
}

.articles-category .cards-section img {
  width: 100%;
  border-radius: 8px;
}

.articles-category .cards-section h4 {
  margin: 0px;
  padding: 16px;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
}

.articles-category .create-free-account h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}

.articles-category .create-free-account p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #5C5C5C;
}

.articles-category .create-free-account button {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  padding: 16px 32px;
  background: #1052EF;
  box-shadow: 0px 21px 34px rgba(105, 164, 255, 0.39);
  border-radius: 8px;
  border: 0px;
  width: 90%
}

.articles-category .create-free-account {
  margin-top: 200px;
}

.articles-category .cards-section article:hover {
  cursor: pointer;
  box-shadow: 0px 21px 34px rgba(105, 164, 255, 0.8);
}

.articles-category .second-page .title-second-article {
  color: #393939;
  display: flex;
  align-items: right;
  text-align: right;
  gap: 20px;
  margin: 0px 8px 24px 0px;
}

.articles-category .second-page .title-second-article img {
  width: 10px;
}
.articles-category .second-page article{
  cursor: default !important;
}
.articles-category .second-page .title-second-article h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
}

.articles-category .second-page .title-second-article img:hover {
  cursor: pointer;
}

.articles-category .second-page article button {
  width: 100%;
}

.articles-category .second-page article p {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #393939;
  margin: 0px;
  margin-bottom: 24px;
  padding: 0px 16px;
}

.articles-category .second-page article h4 {
  padding-bottom: 0px;
  padding-bottom: 16px;
}

.articles-category .third-page .title-third-article {
  color: #393939;
  display: flex;
  text-align: right;
  gap: 20px;
  margin: 0px 8px 24px 0px;
}

.articles-category .third-page .title-third-article img {
  width: 10px;
}

.articles-category .third-page .title-third-article h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
}

.articles-category .third-page .title-third-article img:hover {
  cursor: pointer;
}

.justify-right {
  justify-content: right;
}

.articles-category .cards-section .card-page-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px
}

.articles-category .third-page .article-page3-first {
  padding: 8px;
  background-color: #F1F6FF;
  border-radius: 8px;
}

.articles-category .third-page .article-page3-first div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles-category .third-page .article-page3-first div p {
  margin: 0px;
}

.articles-category .third-page .article-page3-first div div {
  white-space: nowrap;
  display: flex;
  width: 60%;
  gap: 0px;
  justify-content: right;
}

.articles-category .third-page .article-page3-first div img {
  width: 30px;
height: 30px;
}

.articles-category .third-page .article-page3-second {
  margin-top: 36px;
  text-align: right;
  box-shadow: none;
}

.articles-category .third-page .article-page3-third {
  box-shadow: none;
  text-align: right;
}

.articles-category .third-page .article-page3-third h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  padding: 0px;

}

.articles-category .third-page .article-page3-third ul {
  margin: 16px
}

.articles-category .third-page .article-page3-third li {
  margin-bottom: 10px
}

.articles-category .fourth-section {
  margin-top: 200px
}

.articles-category .article-page3-forth {
  margin-bottom: 0px !important;
  ;
  box-shadow: none !important;
  padding-bottom: 0px !important;
}

.articles-category .article-page3-forth article {
  box-shadow: none;
  text-align: right;
  margin: 0px !important;
  padding-bottom: 0px;

}

.articles-category .article-page3-forth article p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #000000;
}

.articles-category .article-page3-forth article .colored-paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--r-primary);
}

.articles-category .article-page3-forth h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}

.articles-category .article-page3-fifth h4 {
  padding-top: 0px;
  padding-right: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}

.articles-category .third-page .article-page3-fifth ul {
  text-align: right;
  margin: 16px
}

.articles-category .third-page .article-page3-fifth li {
  margin-bottom: 10px
}

.articles-category .article-page3-fifth {
  box-shadow: none !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  ;

}

.articles-category .article-page3-fifth article {
  padding-bottom: 0px !important;
  box-shadow: none;
  margin-bottom: 0px;
}

.articles-category .article-page3-fifth p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: right;
  color: #000000;
}

.articles-category .article-page3-six {
  margin-bottom: 0px !important;
  ;
  box-shadow: none !important;
}

.articles-category .article-page3-six article {
  box-shadow: none;
  text-align: right;
  margin: 0px !important;

}

.articles-category .third-page .article-page3-six ul {
  margin: 16px
}

.articles-category .third-page .article-page3-six li {
  margin-bottom: 10px
}

.articles-category .article-page3-six article p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #000000;
}

.articles-category .article-page3-six article .colored-paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--r-primary);
}

.articles-category .article-page3-six h4 {
  padding-right: 8px;
  margin-top: 0px !important;
  padding-top: 0px !important;
  ;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}

.articles-category .article-page3-seven {
  margin-top: 128px;
  display: flex;
  box-shadow: none !important;
  align-items: center;
  gap: 10px
}

.articles-category .article-page3-seven h4 {
  margin-left: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}

.articles-category .article-page3-seven button {
  height: 40px;
  width: 40px;
  border-radius: 37px;
  padding: 0px 0px;
}

.articles-category .article-page3-seven button img {
  width: 100%;
  height: 40% !important;
  object-fit: contain;
}

.articles-category .article-page3-eight {
  box-shadow: none !important;

}

.articles-category .article-page3-eight article {
  box-shadow: none !important;
}

.articles-category .article-page3-eight .comment-title {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;
}

.articles-category .article-page3-eight .comment-title img {
  width: 60px
}

.articles-category .article-page3-eight .comment-title .comment-title-text {
  text-align: right;
}

.articles-category .article-page3-eight .comment-title .comment-title-text h4 {
  padding: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 8px;
}

.articles-category .article-page3-eight .comment-title .comment-title-text p {
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #666666;
}

.articles-category .article-page3-eight .comment-text {
  text-align: left;
  margin: 24px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}

.articles-category .article-page3-eight .more-comment {
  text-align: center;
  color: var(--r-primary)
}

.articles-category .article-page3-eight .add-comment {
  text-align: right;

}

.articles-category .article-page3-eight .add-comment label {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #0B1D3B;
}

.articles-category .article-page3-eight .add-comment textarea {
  margin-top: 8px;

  padding: 16px;
  height: 151px;
  background: #F1F6FF;
  border: 1.5px solid #E3EEFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #929292;
}

.articles-category .article-page3-eight .comments hr {
  height: 2px;
}

.articles-category .article-page3-eight .comments .add-comment button {
  width: 100%;
  margin-top: 16px;
}

.articles-category .article-page3-nine {
  box-shadow: none !important;
}

.articles-category .article-page3-nine h4 {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
}

.articles-category .article-page3-nine .card h4 {
  text-align: right;
}

.articles-category .article-page3-nine .card p {
  text-align: right;
}

.articles-category .article-page3-nine .card button {
  width: 100%
}
.articles-category .third-page article:hover{
  box-shadow: none;
  cursor: default;
}