.articles-category h3 {
  font-size: 32px;
  margin-bottom: 42px;
}

.articles-category .create-free-account h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;

}

.articles-category .create-free-account p {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;

}

.articles-category .cards-section .last-cards {
  height: 400px;
}

.articles-category .cards-section .last-cards img {
  width: 100%;
  height: 84%;
  object-fit: cover;
}

.articles-category .cards-section .second-page .title-second-article h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
}

.articles-category .cards-section .second-page .title-second-article img {
  width: 15px
}

.articles-category .cards-section .second-page .card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.articles-category .cards-section .second-page .card img {
  height: 350px;
  object-fit: cover
}

.articles-category .cards-section .second-page .card {
  align-items: center;
  width: 100%;
}
.articles-category .cards-section .second-page .card article img{
  height: 297px;
}
.articles-category .cards-section .second-page .card article {
  width: 49%;
  padding: 16px;
  height: 600px
}
.articles-category .cards-section .second-page .card article button{
  width: 94%;
  right:3%
}
.articles-category .third-page .title-third-article h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
}

.articles-category .third-page .title-third-article img {
  width: 15px
}

.articles-category .third-page .article-page3-first div div img {
  width: 50px
}

.articles-category .third-page .article-page3-first div p {
  margin-left: 50px;
}

.articles-category .third-page .article-page3-eight .comment-title img {
  width: 80px
}
.articles-category .article-page3-nine .card img {
  object-fit: cover;
  height: 58%
}
