    
.articles-category.container {
    padding: 72px 0px;
    max-width: 1200px

}

.articles-category h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}



.articles-category .cards-section article {

    width: 32%
}

.articles-category .cards-section h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
}

.articles-category .cards-section .card-page-1 article.last-cards {
    width: 48.4%;
    height: 350px
}
.articles-category .cards-section .card-page-1 img{
    width: 100%
}
.articles-category .cards-section .last-cards img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.articles-category .create-free-account h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
}

.articles-category .create-free-account p {
    width: 50%;
    margin: 24px auto 48px auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
}

.articles-category .create-free-account button {
    width: 25%
}


.articles-category .cards-section .content-card {
    width: 100%
}

.articles-category .cards-section .content-card article {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    gap: 30px;
    box-shadow: none;
}

.articles-category .cards-section .content-card article:hover {
    cursor: default;
}

.articles-category .cards-section .content-card img {
    width: 32px;
    height: 20px;
    transition: all 0.3s;
    transform: rotate(-90deg)
}

.articles-category .cards-section .content-card img:hover {
    cursor: pointer;
}

.articles-category .second-page .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px
}

.articles-category .second-page .card article {
    width: 47%
}
.articles-category .second-page .title-second-article h1{
    font-weight: 700;
font-size: 20px;
line-height: 160%;
}
.articles-category .second-page .card article{
    position: relative;
    height: 580px
}
.articles-category .second-page .card article img{
    object-fit: cover;
height: 297px;
}
.articles-category .second-page .card p{
    font-weight: 400;
font-size: 16px;
line-height: 160%;

color: #393939;
}
.articles-category .second-page .card .btn{
    position: absolute;
    bottom: 10px;
    width: 96%;
    right: 2%;
}
.articles-category .third-page .title-third-article h1
 {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
 }
.articles-category .third-page .article-page3-first div img{
    
width: 44px;
height: 44px;


}
.articles-category .third-page .article-page3-first h4{
    font-weight: 700;
font-size: 18px;
line-height: 160%;
    color: #393939;
}
.articles-category .third-page article:hover{
    box-shadow: none;
    cursor: default;
    
}
.articles-category .third-page .article-page3-second{
    width: 100%;
    font-weight: 400;
font-size: 20px;
line-height: 160%;
    color: #000000;
}
.articles-category .third-page .article-page3-third{
        width: 100%;
    font-weight: 400;
font-size: 20px;
line-height: 160%;
    color: #000000;
}
.articles-category .third-page .article-page3-third h4{
    font-weight: 700;
font-size: 20px;
line-height: 160%;
margin-bottom:32px;
color: #000000;
}
.articles-category .third-page .article-page3-forth{
            width: 100%;

}
.articles-category .third-page .article-page3-forth article{
         width: 100%;
    
 
}
.articles-category .third-page .article-page3-forth h4{
    font-weight: 700;
font-size: 20px;
line-height: 160%;
}
.articles-category .third-page .article-page3-forth article p{
       font-weight: 400;
font-size: 20px;
line-height: 160%;
}
.articles-category .third-page .article-page3-forth article .colored-paragraph{
    font-weight: 700;
font-size: 20px;
line-height: 160%;
}
.articles-category .third-page .article-page3-fifth{
            width: 100%;

}
.articles-category .third-page .article-page3-fifth h4{
    font-weight: 700;
font-size: 20px;
line-height: 160%;
}
.articles-category .third-page .article-page3-fifth article{
       width: 100%;
    
}
.articles-category .third-page .article-page3-fifth article p{
           font-weight: 400;
font-size: 20px;
line-height: 160%;
}
.articles-category .third-page .article-page3-fifth article ul{
               font-weight: 400;
font-size: 20px;
line-height: 160%;
    color: #000000;
}
.articles-category .third-page .article-page3-six{
         width: 100%;
}
.articles-category .third-page .article-page3-six h4{
    font-weight: 700;
font-size: 20px;
line-height: 160%;
}
.articles-category .third-page .article-page3-six p{
    font-weight: 400;
font-size: 20px;
line-height: 160%;
}
.articles-category .third-page .article-page3-six article{
     width: 100%;
             font-weight: 400;
font-size: 20px;
line-height: 160%;
    color: #000000;
}
.articles-category .third-page .article-page3-six ul{
    margin-bottom: 64px
}
.articles-category .third-page .article-page3-six .colored-paragraph{
    font-weight: 700;
font-size: 20px;
line-height: 160%;
    
}
.articles-category .third-page .article-page3-seven{
    width: 100%;
    margin-top:64px;
        justify-content: center
}
.articles-category .third-page .article-page3-eight {
    width: 100%;
}
.articles-category .third-page .article-page3-eight article{
    width: 100%;
}
.articles-category .third-page .article-page3-eight .comments .comment-title h4{
    font-weight: 700;
font-size: 18px;
line-height: 23px;

color: #333333;
}
.articles-category .third-page .article-page3-eight .comments .comment-title p{
    font-weight: 400;
font-size: 12px;
line-height: 17px;
color: #666666;
}
.articles-category .third-page .article-page3-eight .comment-text{
    font-weight: 400;
font-size: 16px;
line-height: 21px;

color: #666666;
}
.articles-category .third-page .article-page3-eight .add-comment{
    position: relative;
    height: 260px
}
.articles-category .third-page .article-page3-eight .add-comment textarea{
    font-weight: 400;
font-size: 16px;
line-height: 21px;
}
.articles-category .third-page .article-page3-eight .add-comment .btn{
    width: 15%;
    position: absolute;
    bottom: 0px;
        left:0px;
}
.articles-category .third-page .article-page3-nine{
    width: 100%;
}
.articles-category .third-page .article-page3-nine .card{
    width: 100%;
        display:flex;
    justify-content: center;
    gap: 16px
    
}
.articles-category .third-page .article-page3-nine .card article img{
    object-fit: cover;
height: 297px;
}
.articles-category .third-page .article-page3-nine .card article{
    width: 100%;
    position: relative;
    height: 600px;
    
}
.articles-category .third-page .article-page3-nine .card article button{
    position: absolute;
    bottom: 10px;
    right:2%;
    width: 96%
}
.articles-category .third-page .article-page3-nine .card article p{
    font-weight: 400;
font-size: 16px;
line-height: 160%;
    padding: 0px 16px;
}