.login-form-container,
.register-form-container {
}

h2.welcome-message {
    font-size: 24px;
    margin-bottom: 16px;

}

h5.welcome-subtitle {
    font-size: 20px;
    margin-bottom: 65px;

}

.auth-container a.back-link {
    margin-bottom: 100px;
}
.auth-side-img{
    display: block;
}