header.entry-header {
    display: none;
}
body{
    margin: 0px;
}
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ast-container {
    max-width: 100%;
    width: 100%;
}


.login-form-container,
.register-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 32px;
}

h2.welcome-message {
    font-weight: 700;
    font-size: 18px;
    color: #0B1D3B;
    margin-bottom: 8px;
}

h5.welcome-subtitle {
    font-size: 14px;
    color: #0B1D3B;
    margin-bottom: 45px;
}

.auth-form-input {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
    color: #0B1D3B;

}

.auth-form-input + .auth-form-input {
    margin-top: 24px;

}

.auth-form-input label {
    font-size: 14px;
}

.auth-container .auth-form-input input {
    background: #F1F6FF;
    border: 1.5px solid #E3EEFF;
    border-radius: 8px;
    padding: 18px 10px;
    font-size: 14px;
}

.required {
    color: #FF0000;
}

.remember-password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-password-row .remember-password-checkbox span {
    color: #0B1D3B;
    font-size: 14px;
    vertical-align: center;
}

.remember-password-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.remember-password-checkbox input[type="checkbox"]:checked {
    color: #1052EF;
}

.remember-password-row .remember-password-checkbox input {
    width: 20px;
    height: 20px;
}


.remember-password-row .lost-password-link {
    color: #1052EF;
    font-size: 14px;
    font-weight: 700;
}

.auth-btn {
    width: 100%;
    margin-top: 75px;
    box-shadow: 0px 21px 34px rgba(105, 164, 255, 0.39);
}

.resend-password,
.register-account {
    margin-top: 32px;
    text-align: center;
}

.resend-question,
.sublink-question,
.register-account-question {
    font-size: 14px;
    color: #0B1D3B;
}

.resend-link,
.sublink-link,
.register-account-link {
    color: #1052EF;
    cursor: pointer;
}

.sublink-link,
.resend-link {
    font-weight: 700;

}

.auth-container a.back-link {
    margin-bottom: 22px;
    width: fit-content;
}

.auth-container a.back-link img {
    width: 18px;
    height: 18px;
    transform: rotate(-90deg);
}

.auth-container a.back-link span {
    /*display: none;*/
}
.auth-container
.auth-side-img {
    display: none;
}

.back-title {
    color: #000000;
}

.auth-container .otp-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    direction: ltr;
    margin-bottom: 40px;
}

.auth-container .otp-input .otp-block {
    height: 3em;
    width: 3em;
    border: 1.5px solid #E3EEFF;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: #F1F6FF;
    outline: none;
    color: var(--r-primary);
    /*Hide number field arrows*/
    -moz-appearance: textfield;
    border-radius: 8px;
    direction: ltr;

}

input.otp-block[type="number"]::-webkit-outer-spin-button,
input.otp-block[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.auth-container .otp-block:disabled {
    color: var(--r-primary);
}

.auth-container .otp-block:focus {
    border: 3px solid var(--r-primary) !important;
}

.email-alert {
    display: flex;
    padding: 24px;
    gap: 16px;
    background: #EAF3FF;
    border-right: 6px solid #1052EF;
    border-radius: 16px;
    color: var(--r-primary);
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 24px;
}

.creating-store-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.creating-store-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.creating-store-container .loading-img {
    width: 225px;
    height: 180px;
    margin-bottom: 65px;
}

.creating-store-container .loading-logo {
    width: 85px;
    height: 28px;
    margin-bottom: 175px;
}

.creating-store-container .loading-title {
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 190%;
    text-align: center;
    color: #0B1D3B;
}

.loading-shape {
    position: absolute;
}

.shape1 {
    left: 90%;
    top: 46%
}

.shape2 {
    left: 80%;
    top: 55%
}

.shape3 {
    left: 25%;
    top: 35%;
}

.shape4 {
    left: 13%;
    top: 37%;
}

.shape5 {
    left: 10%;
    top: 58%
}

.store-created {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.store-created img {
    width: 26px;
    height: 26px;
}

.store-created-title {
    color: #0B1D3B;
    font-size: 16px;
    font-weight: 700;
}

.auth-form-input {
    position: relative;
}

.auth-form-input img {
    position: absolute;
    left: 3%;
    top: 56%;
    cursor: pointer;
}

.loading-wall {
    display: none;
}