.auth-container{
  flex-direction: column-reverse;
}
.auth-container .auth-side-img{
  display: flex;
  justify-content: center;
}
.auth-container .auth-side-img .laptop-login{
  display: none;
}
.auth-container{
  /*! max-width: 400px; */
  /*! margin: auto; */
}
.auth-container .auth-side-img{
  background: #EAF3FF;
    border-radius: 16px;
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.auth-container .auth-side-img .tab-login{
display: block;
}
.auth-container .login-form-container , .auth-container .register-form-container{
  
  max-width: 616px ;
  margin: auto;
  margin-top:53px
}
.creating-store-col{
  max-width: 345px;
}