.auth-container {
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    height: 100%
}
.auth-container .auth-side-img .laptop-login{
  display: block;
    width: 100%
}
.auth-container .auth-side-img .tab-login{
  display: none;
}
.login-form-container,
.register-form-container {
    padding: 0px 90px;
}


.auth-side-img {
    display: block;
    width: 50%;
    border-radius: 30px;
    height: 100vh;
    padding: 15px 0px;
}

.auth-side-img img {
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}


h2.welcome-message {
    font-size: 20px;
    margin-bottom: 16px;

}

h5.welcome-subtitle {
    font-size: 16px;
    margin-bottom: 65px;

}

.login-form-container,
.register-form-container {
    width: 50%
}

.auth-btn {
    margin-top: 75px;
    width: 100%;
}

.auth-form-input + .auth-form-input {
    margin-top: 32px;
}

.auth-container a.back-link span {
    display: inline;
    font-size: 16px;
    padding: 0px 25px;
    color: #000000;
}

.auth-container a.back-link:hover span {
    color: var(--r-primary);
}

.auth-container a.back-link {
    margin-bottom: 48px;
}

.resend-question {
    text-align: start;
}

.email-alert {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 20px;
}

.auth-btn.start-store-btn {
    margin-top: 40px;
}

.creating-store-col {
    position: relative;
    max-width: 510px;
}

.creating-store-col .loading-img {
    width: 420px;
    height: 340px;
}

.creating-store-col .loading-logo {
    width: 115px;
    height: 35px;
}

.creating-store-col .store-created-title,
.creating-store-col .loading-title {
    font-size: 24px;
}

.auth-side-img {
    display: block;
}


.shape1 {
    left: 95%;
    top: 40%
}

.shape2 {
    left: 90%;
    top: 55%
}

.shape3 {
    left: 25%;
    top: 25%;
}

.shape4 {
    left: 13%;
    top: 27%;
}

.shape5 {
    left: 0%;
    top: 55%
}
.auth-side-img{
    display: block !important;
}