:root {
    --r-primary: #1052EF;
    --r-secondary: #ff8a00;
    --r-text: #5C5C5C;
    --r-primary-shdaow: #1053ef56;
    --r-secondary-shdaow: #ff8a0056;
    --r-link: #1F1F1F;
}


.section-header {
    margin: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}

.section-description {
    margin: 0px 16px 24px 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #5C5C5C;
}

.btn {
    padding: 14px 32px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 160%;
    font-weight: 700;
    box-sizing: border-box;
    transition: all .3s ease;
    text-align: center;
}


.btn-primary {
    background-color: var(--r-primary);
    color: white;
}

.btn-primary:hover {
    box-shadow: 0px 21px 34px var(--r-primary-shdaow);
}

.btn-secondary {
    background-color: var(--r-secondary);
    color: white;
}

.btn-secondary:hover {
    background-color: var(--r-secondary);

    box-shadow: 0px 21px 34px var(--r-secondary-shdaow);
}

.btn-white {
    background-color: white;
    color: var(--r-primary);
}

.btn-white:hover {
    background-color: white;
    opacity: 0.8;
}

.btn-outline-secondary {
    background-color: transparent;
    color: var(--r-secondary);
    border: 2px solid var(--r-secondary);
}

.btn-outline-secondary:focus {
    background-color: transparent;
    color: var(--r-secondary);
    border: 2px solid var(--r-secondary);
}

.btn-outline-secondary:hover {
    background-color: var(--r-secondary);
    color: white;
    box-shadow: 0px 21px 34px var(--r-secondary-shdaow);
    border: 2px solid var(--r-secondary);
}

.btn-outline-primary {
    background-color: transparent;
    color: var(--r-primary);
    border: 2px solid var(--r-primary);
}

.btn-outline-primary:hover {
    background-color: var(--r-primary);
    color: white;
    box-shadow: 0px 21px 34px var(--r-primary-shdaow);
    border: 2px solid var(--r-primary);
}

.btn-outline-primary:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(1000%);
}

.btn-outline-white {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-outline-white:hover {
    background-color: white;
    color: var(--r-primary) !important;;
}

.btn-outline-white:hover img {
    filter: invert(30%) sepia(203%) saturate(900000%) hue-rotate(246deg) brightness(300%) contrast(300%);;

}

.container {
    text-align: center;
    max-width: 1400px;
    margin: auto;
}

.margin-top-section {
    margin-top: 104px;
}

.width-100 {
    width: 100%;
}

body {
    background-color: #ffffff !important;
}

.woocommerce-page.woocommerce-checkout form #order_review, .woocommerce.woocommerce-checkout form #order_review {

    border: unset !important;
    width: 100% !important;
}

#order_review_heading {
    border: none !important;
}

.loading-title {
    width: 100% !important;
}

.elementor-kit-1336 h4 {
    color: unset;
}

.text-slider {
    color: #000000;
}

.man-text {
    color: #ffffff;
}
.hero-section {
    margin-top: 150px;
}