.contact-us-page.container {
  margin: 150px auto;
}

.contact-us-page article {
  flex-direction: row;
  padding: 16px 32px;
}

.contact-us-page .contact-us-map {
  flex-direction: column;
}

.contact-us-page .contact-us-map iframe {
  object-fit: cover;
  width: 100%;
  height: 600px
}

.contact-us-page .contact-us-map button {
  display: none;
}

.contact-us-page h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

.contact-us-page p {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #5C5C5C;
}

.contact-us-page article .contact-us-form label {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.contact-us-page article .contact-us-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.contact-us-page article .contact-us-form textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}