.contact-us-page.container {
  margin: auto;
}

.contact-us-page h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}

.contact-us-page p {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #5C5C5C;
  margin: 16px auto;
}

.contact-us-page article {

  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 40px;
  background: #F1F6FF;
  border-radius: 15px;
}

.contact-us-page article .contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 24px
}

.contact-us-page article div {
  width: 100%;

}

.contact-us-page article .contact-us-form label {
  text-align: right;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #000000;
  opacity: 0.8;
}

.contact-us-page article input {
  margin: 8px 0px 24px 0px;
  border: 0px;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  width: 100%;
  height: 58px;
}

.contact-us-page article textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #949AA1;
  opacity: 0.8;
}

.contact-us-page article input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #949AA1;
  opacity: 0.8;
}

.contact-us-page article textarea {
  height: 125px;
  margin-top: 8px;
  padding: 10px 20px;
  border: 0px;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.contact-us-page .map {
  margin-top: 50px
}

.contact-us-page article div {
  text-align: right;
}

.contact-us-page .contact-us-form button {
  width: 100%;
}

.contact-us-page .contact-us-map {
  box-shadow: 0px 28px 37px rgba(36, 107, 237, 0.12);
  border-radius: 16px;
  margin-top: 38px;
  margin-bottom: 100px;
}

.contact-us-page .contact-us-map button {
  width: 100%;
}

.contact-us-page .contact-us-map iframe {
  height: 327px;
  border-radius: 16px;
  width: 100%;
}