.contact-us-page h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
}

.contact-us-page p {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

.contact-us-page .contact-us-map iframe {
  height: 700px
}