.contact-us-page.container{
  width: 100%;
  margin: auto
}
.contact-us-page p{
font-weight: 700;
font-size: 16px;
line-height: 140%;
}
.contact-us-page .contact-us-form input{
  font-weight: 400;
font-size: 14px;
line-height: 160%;
}
.contact-us-page .contact-us-form div label{
font-weight: 700;
font-size: 16px;
line-height: 21px;

color: #0B1D3B;
}
.contact-us-page .contact-us-map img{
  width: 1021px;
height: 570px;
  object-fit: cover;
}