.links-container {
    display: flex;
    gap: 48px;
}

.sidebar {
    display: none;
}

.header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: var(--r-link);
    width: fit-content;
    white-space: nowrap;
}

.main-header {
    justify-content: start;
    padding: 11px 0px;

}


.header-logo {
    margin-left: 55px;
}


.left-container {
    margin-right: auto;
}

.sidebar-toggle {
    display: none;
}

.header-link.header-link-active {
    color: var(--r-primary);
    font-weight: 700;
}