.sidebar {
    position: fixed;
    transition-duration: 500ms;
    width: 295px;
    height: 100vh;
    z-index: 10;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-end: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 16px;
    gap: 31px;
    box-shadow: 21px 0px 21px -5px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.sidebar-opened {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    opacity: 1;
    transform: translateX(0);
}

.sidebar-closed {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    opacity: 0;
    transform: translateX(-150%);
}

.sidebar-toggle {
    width: 24px;
}

.nav-links-container .nav-link {
    display: flex;
    align-items: center;
    padding: 14px 10px;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.nav-links-container .nav-link.active {
    background-color: var(--r-primary);
    color: white;
}

.nav-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.sidebar .visit-site {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.header-logo img {
    width: 100% !important;
}

.header-logo {
    height: auto;
    width: 75px;
    margin-left: 0px;

}

.header-button {
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 160%;
    font-weight: 700;
    box-sizing: border-box;
    transition: all .3s ease;
    background-color: transparent;
    color: var(--r-secondary);
    border: 2px solid var(--r-secondary);
    white-space: nowrap;


}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 52px;
}



.header-button:hover {
    background-color: var(--r-secondary);
    color: white;
    box-shadow: 0px 21px 34px var(--r-secondary-shdaow);
    border: 2px solid var(--r-secondary);
}

.links-container {
    display: none;
}

.road-header-container {
    height: 75px;
}

.main-header {
    justify-content: space-between;
    padding: 11px 8px;

}

.nav-links-container .nav-link.nav-link-active {
    background-color: var(--r-primary);
    color: white;
}

