/* TODO : Hero Section Styles */
.hero-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.right-side {
    text-align: center;
    width: 100%;
}

.hero-section .hero-title-colored .inside {
    margin-right: 10px;
}

.hero-section .left-side {
    padding: 0px 30px 20px 30px;
}

.hero-title {
    font-size: 18px;
    line-height: 28.8px;
}

.hero-btns button {
    width: 100%
}

.hero-btns {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 16px;
    margin: auto
}

.hero-title-colored {
    font-size: 24px;
    color: var(--r-primary);
    font-weight: 700;
}

.hero-description {
    color: var(--r-text);
    font-weight: 400;
    margin: 24px 16px 36px 16px;
    font-size: 14px;
    line-height: 22.4px;
}

/* TODO :  Section 2 Styles */

.feature-cards {

    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.feature-container {

    margin: 8px;
    background-color: #EAF3FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    padding: 8px;
    gap: 16px;
}

.feature-second-card {
    background-color: white;
    padding: 38px 8px;
    box-shadow: 0px 41px 60px rgba(50, 98, 185, 0.13);
    border-radius: 16px;
    transition: all 0.4s;
}

.feature-second-card img {
    margin: 0px;
    padding: 0px;
    width: 257px;
    height: 144px;
    margin-bottom: 16px;
}

.feature-second-card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #1A1A1A;
}

.feature-card img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: 0px;
    opacity: 0.7;
    padding: 0px;
    transition: all 0.4s;

}

.feature-card.active-feature-card {
    background-color: #1152EE;
    border: 1px solid #FFFFFF;
    transition: all 0.4s;

}

.feature-card.active-feature-card img {
    opacity: 1;
}

.feature-card .active-feature-card-paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    transition: all 0.4s;

}
.important-card-section .important-cards .important-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.important-card-section .important-cards .important-card .image-background{
    background: rgba(16, 82, 239, 0.08);
border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin:auto;
    margin-bottom: 24px;
    width:60%;
    height:112px;
}

.important-card-section .important-cards .important-card .image-background img{
    width:70px;
    margin: 0px;
}
.feature-card h5 {
    text-align: right;
    width: 80%;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
}

.feature-card {
    background-color: #DBEBFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    ;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 16px;
    padding: 16px 16px 16px 16px;
    width: 100%;
}

/* TODO :  Section 3 Styles */
.important-card-section {
    margin-top: 104px;
}

.important-cards {
    padding-top: 24px;
    padding-bottom: 24px;
}

.important-card img {
    width: 280px;

    margin-bottom: 24px;
}

.important-cards .important-card h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;

    color: #000000 !important;
    ;
}

.important-card p {
    margin: 8px 60px 48px 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #5C5C5C;
}

.important-cards button {
    width: 100%;
    max-width: 92%;

}

.arrow-img-btn {
    width: 24px;
    height: 24px;
    margin-right: 11px;
}

/* TODO : Section 4 Styles */
.fourth-section-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fourth-section-card {
    margin: 4px 16px;
    padding: 16px;
    display: flex;
    justify-content: right;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 41px 60px rgba(50, 98, 185, 0.13);
    border-radius: 16px;
    height: 190px;
}

.fourth-section-card img {
    width: 73px;
    height: 73px;
    margin-left: 24px;
}

.fourth-section-card div {
    max-width: 343px;
}

.fourth-section-card ul {
    margin-right: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: right;
    color: #5C5C5C;
}

.fourth-section-card h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    text-align: right;
    color: #000000;

}

.technique-images {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 43px;
}

.technique-images img {
    width: 134px;
    height: 31px;

}

.swiper-slide h4 {
    margin: 8px auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #000000;

}

.swiper-slide div {
    width: 100%;
    margin-right: 10px;
    text-align: right;
}

.swiper-slide img {
    border-radius: 16px;
    width: 149px;
    height: 137px;
}

.swiper-slide {
    width: 157px !important;
    ;
    height: 209px;
    margin: 0px 10px !important;
}

.swiper-slide p {


    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #000000;
}

.tab-card-countainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 16px;
    background: #F1F6FF;
    border-radius: 8px;
    border-radius: 8px;
    margin: 16px;

}
.tab-card{
    max-width: 1182px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
}
.offer-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.offer-tab .offer-tab-header {
    width: 80px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #87B2FF;
}

.offer-tab.offer-tab-active {
    background-color: var(--r-primary);
}

.offer-tab-active .offer-tab-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.offer-tab {
    border-radius: 16px;
    padding: 10px 15px;
    text-align: center;
    transition: all 0.2s;
}

.offre-tab-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #87B2FF;
}

.offer-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.offer-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px 16px 16px 16px;
    width: 100%;
}

.offer-card hr {
    margin: 24px 0px;
    border: 1px solid #FFFFFF;
}

.offer-index-card hr {
    margin: 24px 0px;
}

.offer-card-header {
    display: flex;
    justify-content: start;
    align-items: center;

}

.offer-card-header-img h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;

}

.offer-card-header {
    color: var(--r-secondary);

}

.offer-index-card .offer-card-header {
    justify-content: space-between;
    padding-left: 30px
}

.offer-card-header-img img {
    width: 38px;
    height: 38px;
}

.offer-card-header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.offer-card-price {
    margin-top: 12px;
    gap: 2px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #3a3a3a !important;
}

.offer-card-price h4 {
    text-align: right;
    font-weight: 700;
    font-size: 28px;
    line-height: 51.2px;
    color: #3a3a3a;
}

.offer-card-price h5 {
    text-align: right;
    font-weight: 700;
    font-size: 18px;
    line-height: 38.4px;
    color: #3a3a3a;
}

.offer-index-card .offer-card-price h4 {
    color: #fff !important;
}

.offer-index-card .offer-card-price h5 {
    color: #fff !important;
}

.offer-list p {
    margin: 0px 28px 0px 0px;
}

.offer-list {
    margin-bottom: 16px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #5C5C5C;
    margin-right: -3rem
}

.offer-card-btn {
    width: 100%
}

.offer-index-card {
    border-radius: 8px;
    padding: 20px 16px 16px 16px;
    width: 100%;
    background-color: var(--r-primary);
}


.offer-index-card-text {
    color: white !important;
}

.quistion-article {
    margin: 16px;
}

.btn-quistion {
    background-color: #FFFFFF;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    transition: all 0.3s;
    align-items: center;

}

.list-quistion {
    background-color: #F1F6FF;
    padding: 8px;
    border-radius: 8px;
    list-style: none;
    margin: 0px;
    box-shadow: 0px 28px 37px rgba(36, 107, 237, 0.12);
    border-radius: 8px;
}

.active-quistion {
    opacity: 1 !important;
    color: var(--r-primary) !important;
}

.btn-quistion-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.img-list {
    width: 24px;
    height: 24px;
}

.answer {
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
}

.left-quistion {
    display: none;
}

.paragraph-quistion {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: justify;
    margin: 0px;

}

.left-quistion {
    display: none;
}

.contact-us {
    text-align: right;
    padding: 16px;
    margin: 16px;
    background: #F1F6FF;
    box-shadow: 0px 28px 37 pxrgba(36, 107, 237, 0.12);
    border-radius: 8px;
}

.contact-us-email-lebel {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
    opacity: 0.8;
}

.contact-us-email {
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.contact-us-text-lebel {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
    opacity: 0.8;
}

.contact-us-text {
    padding: 10px 20px;
    height: 164px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.submit-group p {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: var(--r-secondary);
    opacity: 0.8;
}

.important-card-section button {
    width: 90%;
}

.cercle-list {
    display: none;
}

.cercle-list-active {
    display: none
}

.arrow {
    display: none;
}

.plus {
    display: block;
}

.tradition {
    padding: 4px 16px;
    background: #FFFFFF;
    border-radius: 58px;
}

.mobile-hide {
    display: none
}

.man-text {
    width: 75%;
    position: absolute;
    inset-block-start: 10%;
    text-align: center;
    inset-inline-start: 12%;
    z-index: 3;
}

.man-paragraph {}

.man-container {
    position: relative;
    
}

.man-text h3 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 17px;
    line-height: 160%;
    color: #FFFFFF;
}

.man-text .man-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.man-btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.man-btn button {
    width: 85%
}

.man-img {
    width: 100%;
    height: 950px;
    position: relative;
    z-index: 1;
    padding-left: 20px;
}
.man-container .background-man{
    position: absolute;
  
   height: 200px;
  width: 85%;
    margin: 25px;

    z-index: 0;
    background-color:transparent;
    inset-block-end:12%;
    box-shadow: 0px 67px 100px rgba(17, 82, 242, 0.62);
    
}
@media screen and (min-width:710px){
    .man-container .background-man{
    box-shadow: 0px 67px 100px rgba(17, 82, 242, 0.62);
    margin:40px !important;;
}
}

@media screen and (min-width:401px){
    .man-img {
    height: auto;
}
    .man-container .background-man{
          width: 85%;
    margin: 25px;
         inset-block-end:5%;

    }}
    @media screen and (min-width:1115px){
    .man-container .background-man
    {
        display: none;
    }
}
.contact-us #text {
    padding: 10px 20px;
    border: 0px;
    background-color: white;
    font-family: 'URW DIN Arabic';
    opacity: 0.8;
}

.contact-us #email {
    padding: 10px 20px;
    border: 0px;
    background-color: white;
    font-family: 'URW DIN Arabic';
    opacity: 0.8;
}

.slider-section {
    text-align: center
}

.plus {
    margin-right: 30px;
}

.quistion-article .list-quistion .bottom-quistion  ul {
    list-style: none;
    margin-right: 0px;
    text-align: start;
    color:#000000
}

.quistion-article .left-quistion ul {
    list-style: none;
    margin-right: 0px;
}

.offer-index-card h4,
.offer-index-card h5 {
    color: white !important;
}

.man-text h3 {
    color: white !important;
}