
.container{
  max-width:965px;
}
.hero-section{
 flex-direction: row;
  width: 100%;
  align-items: center
}
.hero-section .right-side{
  width: 47%;
  text-align: right;
  
}
.hero-section .right-side .hero-description{
  font-weight: 400;
font-size: 18px;
line-height: 160%;
  margin-right:0px;
}
.hero-section .left-side{
  width: 53%
}
.feature-container{
  flex-direction: row
}
.feature-container .feature-cards{
  width: 50%
}
.feature-container .feature-cards .active-feature-card-paragraph{
  font-weight: 700;
font-size: 16px;
line-height: 160%;
}
.feature-container .feature-second-card{
  width: 50%

}
.important-card-section .important-cards{
 
}
.important-card-section button{
  width: 40%;
}
.important-card-section .important-cards .important-card{
  margin:0px 0px  auto;
    
}
.important-card-section .important-cards .important-card .image-background{
  width: 257px;
height: 128px;
}
.fourth-section-cards{
 flex-direction: row;
  flex-wrap: wrap;
  gap: 16px
  
}
.fourth-section-card{
  width: 49%;
height: 179px;
  margin: 0px;
}
.man-section .man-text{
    position: absolute;
  inset-block-start: 160px;
  text-align: right;
  inset-inline-start: 110px;
}
.man-section .man-text h3{
  font-size: 18px;
}
.man-section .man-text .man-paragraph{
    font-weight: 400;
font-size: 14px;
line-height: 160%;
  max-width:55%;
  margin-bottom: 26px
}
.man-section .background-man{
  display: none;
}
.man-section .man-btn{
  width: 35%
}
.man-section .man-img{
  padding: 0px;
}
.man-section .man-text .man-btn button{
  font-size: 14px;
}
.swiper .swiper-wrapper .swiper-slide{

width: 372px !important;;
height: 400px !important;;
  
}
.swiper .swiper-wrapper .swiper-slide img{
width: 356px;
height: 297px;
  
}
.offer-tab{
  width: 100%;
  
}
.offer-tab h5{
  margin: auto;
  padding: 10px;
  white-space: nowrap
    
}
.offer-cards{
  flex-direction: row;
}
.offer-card{
  height: 650px;
  position: relative;
}
.offer-card .offer-card-price{


line-height: 160%;
}
.offer-card .offer-card-price h4{
    font-weight: 700;
  font-size: 24px;
}
.offer-card .offer-card-price h5{
    font-weight: 700;
  font-size: 16px;
}
.offer-index-card .offer-card-header{
  padding-left: 10px
}
.offer-index-card .tradition{
  font-weight: 700;
font-size: 12px;
line-height: 160%;
}
.offer-index-card .offer-card-price h4{
    font-weight: 700;
  font-size: 24px;
}
.offer-index-card .offer-card-price h5{
    font-weight: 700;
  font-size: 16px;
}
  
.offer-index-card{
    height: 650px
}
.offer-card ul{
  text-align: right;
}
.offer-card ul li{
    text-align: right;
}

.offer-card button{
  position: absolute
    ;
  bottom: 10px;
  right: 5%;
  width: 90%
}
.offer-index-card button{
    position: absolute
    ;
  bottom: 10px;
  right: 5%;
  width: 90%
}
.offer-index-card{
  position: relative
}
.offer-index-card ul{
  text-align: right;
}
.offer-index-card ul p{
  margin-right:12px;
}
.offer-card ul p{
  margin-right:12px;
}
.contact-us button.btn{
  width: 35%
}