.section-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
.hero-section.container{
  padding-top: 15px
  
}
.hero-section .hero-btns{
  max-width: 480px;
  width:560px;
}
.hero-section .hero-btns .primary-button{
    width: 60%;
}
.hero-section .hero-btns .outline-button {
  white-space: nowrap;
    width: 40%
}
.hero-section .hero-title-colored .inside{
    margin-right: 40px;
}
.hero-section .left-side{
  position: relative;
  right:2%;
  
 
}
.hero-section .left-side #animation-container{
}
.section-description {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 48px;
}

.container {
  max-width: 1184px;
}

.margin-top-section {
  margin-top: 128px;
}

.hero-section {
  margin-top: 75px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.hero-section .left-side {
	padding: 0px;
}

.hero-section .left-side {
  width: 586px;
  height: 559.41px;
  display: flex;
  
}

.hero-section .left-side img {
  margin-right: auto;
  margin-left: 0
;
}

.hero-section .right-side {
  text-align: right;
  width: 559px;
  height: 341px;
}

.right-side .hero-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 160%;
  color: #000000;
}

.right-side .hero-title-colored {
  font-weight: 700;
  font-size: 44px;
  line-height: 76.8px;
}

.right-side .hero-description {
  margin: 24px 0px 48px 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #5C5C5C;
}

.right-side .hero-btns {
  flex-direction: row;
  margin: 0px;
  width: 100%;
  justify-content : start;
}
.right-side .hero-btns .btn-primary {
  border : 1px solid var(--r-primary);
}

.feature-container {
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 16px;
}

.feature-container .feature-cards {
  width: 50%;
  gap: 24px;
    text-align:right
}

.feature-container .feature-second-card {
  text-align: justify;
  padding: 32px 48px;
  width: 50%
}

.feature-container .feature-card .icon-for-list-group{
  width: 50px
}
.feature-container .feature-card {
  transition: all 0.3s;
  padding: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
}

.feature-card img {
  width: 48px;
  height: 48px;
  margin-left: 4rem;
}
.feature-card:hover{
  cursor: pointer;
}

.feature-second-card .img-in-second-section-left {
width: 446px;
height: 250px;
  margin-bottom: 48px
}

.feature-second-card .p-in-second-section-left {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  margin: 0px;
  padding: 0px
}

.feature-card h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}
.feature-container
.feature-card .active-feature-card-paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

.important-card-section {
  margin-top: 128px;
}

.important-cards {
  display: flex;
  gap: 48px;
}

.important-card {
  padding: 0px 38px;
  width: 33%;
}

.important-card img {
  width: 100%;
}
.important-card-section .important-cards .important-card .image-background{
width: 288px;
height: 128px;
}

.important-card h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

.important-card p {
  width: 100%;
  margin: 8px 0px 0px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.important-card-section button {
  margin-top: 50px;
  width: 24%
}

.fourth-section-cards {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.fourth-section-card {
  width: 45%;
  margin: 0px;
  height: 160px
    
}

.fourth-section-card img {
  width: auto;
  height: 100%;
}

.fourth-section-card h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 8px
}

.fourth-section-card li {
  font-weight: 400;
  /*! font-size: 9px; */
  line-height: 160%;
}

.technique-images img {
  width: 200px;
  height: 46px;
}

.offer-cards {
  flex-direction: row;
  gap: 24px;

}

.tab-card-countainer {
  padding: 18px;
}

.offer-card {
  width: 33%;
  border-radius: 20px;
  height:733px;
}

.offer-index-card {
    height:733px;
  width: 33%;
  border-radius: 20px;
}
.offer-index-card .offer-card-btn.margin-top-btn{
  margin-top:14%
}
.offer-card .offer-card-btn.margin-top-btn{
  margin-top:14%
}
.offer-index-card .offer-card-header {
}
.offer-index-card .tradition{
  font-weight: 700;
font-size: 14px;
line-height: 160%;
}
.offer-tabs {
  gap: 30px;
}

.offer-tab {
  width: 100%;
  padding: 22px 138px
}
.offer-tab .offer-tab-header{
  margin-right:20%
}
.offer-lists {
  margin-right: 3rem;
}

.offer-card-header-img img {
  width: 56px;
  height: 56px;
}

.offer-tab .offer-tab-header {
  font-size: 18px;
  white-space: nowrap
}

.left-quistion {
  display: block;
  background-color: white;
  padding: 32px;
  border-radius: 16px;
  text-align: right;
  width: 50%
}

.quistion-article {
  display: flex;
  justify-content: center;
  padding: 16px;
  background: #F1F6FF;
  box-shadow: 0px 28px 37px rgba(36, 107, 237, 0.12);
  border-radius: 24px;
  gap: 16px;
}

.list-quistion {
  box-shadow: none;
  width: 50%;
  padding: 0px
}

.left-quistion h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 190%;
  color: #1152F2;
  margin-bottom: 24px
}

.left-quistion p {

  font-weight: 400;
  font-size: 16px;
  line-height: 197%;
}

.bottom-quistion {
  display: none;
}

.cercle-list {
  transition: all 0.3s;
  opacity: 0.2;
  margin-left: 16px;
  display: block;
}

.cercle-list-active {
  display: block;
  opacity: 0.8;
}

.btn-quistion-img {
  justify-content: right;
}

.img-list {
  margin-right: auto
}

.btn-quistion {
  height: 85px;
  margin-bottom: 8px;
}

.plus {
  display: none
}

.arrow {
  display: block;
  width: 15px;
  height: 10px;
  transition: all 0.3s
}

.btn-quistion-img p {
  margin-left: 20px
}

.rotate-arrow {
  transform: rotate(90deg);
  filter: invert(9%) sepia(203%) saturate(900000%) hue-rotate(246deg) brightness(90%) contrast(100%);
}

.contact-us {
  box-shadow: 0px 28px 37px rgba(36, 107, 237, 0.12);
  border-radius: 15px;
  max-width: 815px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 128px;
}

.contact-us label {
  font-size: 16px;
}

.contact-us #email {
  padding: 10px 20px;
  border: 0px;
  background-color: white;
  font-family: 'URW DIN Arabic';
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.8;
}

.contact-us #text {
  padding: 10px 20px;
  border: 0px;
  background-color: white;
  font-family: 'URW DIN Arabic';
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.8;
}
.contact-us
.submit-group button {
  width: fit-content;
  padding: 16px 90px;
  white-space:nowrap;
  
}

.submit-group p {
  font-size: 16px;
}

.mobile-hide {
  display: block;
}

.slider-section {
  text-align: center;
}
.man-section
.man-text {
  position: absolute;
  inset-block-start: 200px;
  text-align: right;
  inset-inline-start: 100px;
}
.man-section
.man-paragraph {
  width: 50%;
}
.man-section
.man-container {
  position: relative;
}
.man-section
.man-text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #FFFFFF;
}
.man-section
.man-text .man-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: justify;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 30px;
}
.man-section
.man-img {}
.man-section
.man-btn {
  flex-direction: row
    ;
  width: 100%
}
.man-section
.man-btn button {
  width: 100%
}
.man-section
.man-btn a{
  width: fit-content;
}
.swiper .swiper-wrapper
.swiper-slide {
width: 476px !important;
height: 510px !important;;
}
.swiper .swiper-wrapper
.swiper-slide img {
width: 444px;
height: 391px;
}
.swiper .swiper-wrapper
.swiper-slide .text-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
    max-width:80%;
  margin-left: auto;
     margin-right: auto
}

.text-slider h4 {
  margin: 0px;
  font-size: 24px;
}

.text-slider {
  margin: 34px;
}

.swiper-slide p {
  font-size: 18px;
  margin: 0px
}

.offer-tab:hover {
  cursor: pointer;
}
.swiper-slide{
  margin: 0px 30px !important;;
}
.offer-tabs .offer-tab .offer-tab-header{
  margin: auto;
  padding: 0px
}
.offer-cards .offer-card ul p{
  margin-right:24px
}
.offer-cards .offer-index-card ul p{
  margin-right:24px
}