.container{
  max-width: 594px;
}
.hero-section .hero-title{
  font-weight: 700;
font-size: 24px;
line-height: 160%;
}
.hero-section .hero-title .hero-title-colored{
  font-size: 40px;
  line-height: 170%;
}
.hero-section .hero-description{
  font-size: 18px;
  font-weight: 400;
line-height: 160%;
color: #5C5C5C;
}

.hero-section .hero-btns{
  flex-direction: row;
  width: 100%
}
.hero-section .hero-btns a{
  width: 50%;
}
.hero-section .left-side{
  padding: 0px;
}
.feature-container .feature-second-card .p-in-second-section-left{
  margin-right:8px;
  margin-left:8px;
}
.feature-card h5{
  width: 100%;
}
.important-card-section .important-cards {
 display:flex;
  gap: 24px;
}
.important-card-section .important-cards .important-card{
  width: 33%
}

.important-card-section .important-cards .important-card p{
  width: 100%;
  margin: 8px 0px;
}
.important-card-section .important-cards .important-card .image-background{
width: 182px;
  height: 120px;
}

.important-card-section .important-cards .important-card .image-background img{
    width:80px;
}
.important-card-section .important-cards .important-card h4{
  white-space: nowrap;
}
.important-card-section button{
  width: 70%;
  padding-right:50px
}
.fourth-section-cards .fourth-section-card{
  height: 139px;
  align-items: center
}
.fourth-section-cards .fourth-section-card ul{
  width: 100%;
}
.man-section .man-text h3{
  font-weight: 700;
font-size: 20px;
line-height: 160%;
}
.man-section .man-text .man-paragraph{
  font-weight: 400;
font-size: 16px;
line-height: 160%;
  margin-bottom:40px;
}
.technique-images{
  width: 100%;
    gap:24px
      
}
.technique-images img{
  width: 21%;
}
.swiper .swiper-wrapper .swiper-slide{
  width: 269px !important;
height: 357px !important;
}
.swiper .swiper-wrapper .swiper-slide img{
  width: 100%;
height: 277px;
}
.quistion-article .bottom-quistion p{
  font-weight: 400;
font-size: 16px;
line-height: 160%;
}
.quistion-article .btn-quistion .paragraph-quistion{
  font-size: 18px;
line-height: 160%;
}
.quistion-article .active-quistion .paragraph-quistion{
  font-weight: 700;
}
.contact-us .contact-us-email-lebel{
  font-weight: 700;
font-size: 16px;
line-height: 160%;
}
.contact-us .contact-us-email{
font-weight: 400;
font-size: 16px;
line-height: 160%;
}
.contact-us .contact-us-text-lebel{
  font-weight: 700;
font-size: 16px;
line-height: 160%;
}
.contact-us .contact-us-text{
font-weight: 400;
font-size: 16px;
line-height: 160%;
}
.contact-us .submit-group p{
  font-weight: 700;
font-size: 16px;
line-height: 160%;
}
.contact-us .submit-group button{
width: 55%
}