.container {
  max-width: 1404px;
}

.hero-section {
  margin-top: 150px
}
.hero-title {
  font-size: 32px !important;
  ;
}

.hero-title-colored {
  font-size: 48px !important;
  ;
}
.hero-section .left-side{
    right:7%;
}
.hero-section .hero-btns{
  max-width: 565px;
}
.hero-section .hero-btns .primary-button{
  width: 65%;}
.hero-section .hero-btns .outline-button{
  width:35%;
}
.right-side {
  width: 45% !important;
}

.left-side {
  width: 55% !important;
  ;
}
.important-card-section .important-cards .important-card h4{
  font-weight: 700;
font-size: 20px;
line-height: 160%;
}
.important-card-section .important-cards .important-card .image-background{
  
width: 370px;
height: 152px;
}
.section-header {
  font-size: 32px;
}
.fourth-section-cards .fourth-section-card{
  width: 559px;
height: 184px;
}
.fourth-section-cards .fourth-section-card ul li{
  font-weight: 400;
font-size: 16px;
line-height: 160%;
}
.section-description {
  font-size: 18px;
}

.img-in-second-section-left {
  width: 446px !important;
  height: 250px !important;
  margin-right:10% !important; ;
}
.man-section
.man-text h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 160%;
  margin: 0px;
}
.man-section
.man-text .man-paragraph {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 45px
}
.man-section
.man-text {
  inset-block-start: 230px;
}

.offer-tabs {
  gap: 24px;
  margin-bottom: 52px
}
.man-section .man-container .man-btn .btn{
  padding:16px 26px !important;
  font-size:15px
}
.offer-tab {
  width: 100%
}

.offer-cards {
  padding: 0px;
}

.tab-card-countainer {
  padding: 18px;
}

.list-quistion {
  box-shadow: none
}
.offer-index-card .offer-card-btn.margin-top-btn{
  margin-top:11%
}
.offer-card .offer-card-btn.margin-top-btn{
  margin-top:11%
}
.swiper .swiper-wrapper
.swiper-slide {
  width:fit-content !important;
  height: 680px !important;;
}
.swiper .swiper-wrapper
.swiper-slide img{
  width: 601.25px;
height: 560px;
}