.pay-way-page article {
  display: flex;
  background-color: white;
  gap: 40px;

  background: #FFFFFF;
  box-shadow: 0px 39px 62px rgba(36, 107, 237, 0.12);
  border-radius: 16px;
  margin-top: 40px;
}

.pay-way-page .pay-way-price .code-mobile {
  display: none;
}

.pay-way-page .pay-way-price .code-laptop {
  display: block
}

.pay-way-page .pay-way-price .code-laptop button {
  display: block;
  padding: 5px 30px 5px 50px;
  border-width: 1px;
}

.pay-way-page .pay-way-price .code-laptop button img {
  margin-left: 10px;
  width: 50px;
  background-color: transparent;
}

.pay-way-page article .pay-way-right {
  background-color: #F1F6FF;
  padding: 16px;
  border-radius: 16px;

}

.pay-way-page article .pay-way-right div.pay-way-card {
  margin-bottom: 20px
}

.pay-way-page article .pay-way-right div.pay-way-card .pay-way-card-title-text h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
}

.pay-way-page article .pay-way-right div.pay-way-card .pay-way-card-title-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.pay-way-page article .pay-way-left {
  display: block;

  width: 55%
}

.pay-way-page .pay-way-title h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

.pay-way-page h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

.pay-way-page .pay-way-price p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}

.pay-way-page .pay-way-price span {

  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

.pay-way-page .pay-way-left .pill-description h4 {
  display: none;
}

.pay-way-page .pay-way-left .pill-description .pill-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px
}

.pay-way-page .pay-way-left .pill-description hr {
  height: 1px;
}

.pay-way-page .pay-way-left .pill-description .pill-card h5 {
  margin: 0px;
  padding: 0px;
  width: 250px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.pay-way-page .pay-way-left .pill-description .pill-card p {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.pay-way-page .pay-way-left .card-number-block {
  display: flex;
  flex-direction: column;
  position: relative;

}

.pay-way-page .pay-way-left .card-number-block .card-number1 {
  position: absolute;
  left: 20px;
  top: 39px;

  width: 50px
}

.pay-way-page .pay-way-left .card-number-block .card-number2 {
  position: absolute;
  left: 80px;
  top: 39px;
  width: 50px
}

.pay-way-page .pay-way-left .card-number-block label {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.pay-way-page .pay-way-left .card-number-block input {
  margin-top: 10px;
  height: 50px;
  background: #F1F6FF;
  border: 1.5px solid #E3EEFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #0B1D3B;
}

.pay-way-page .pay-way-left .end-date-row {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  gap: 16px
}

.pay-way-page .pay-way-left .end-date-row .end-date {

  display: flex;
  flex-direction: column;
  width: 100%;
}

.pay-way-page .pay-way-left .end-date-row .end-date input {
  margin-top: 10px;

  padding: 0px 18px;
  height: 50px;
  background: #F1F6FF;
  border: 1.5px solid #E3EEFF;
  border-radius: 8px;
}

.pay-way-page .pay-way-left .end-date-row .end-date label {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.pay-way-page .pay-way-left .select {
  margin: 24px 0px 48px 0px;
  display: flex;
  flex-direction: column;
}

.pay-way-page .pay-way-left .select label {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.pay-way-page .pay-way-left .select select {
  margin-top: 10px;
  padding: 0px 18px;
  height: 50px;
  background: #F1F6FF;
  border: 1.5px solid #E3EEFF;
  border-radius: 8px;
}

.pay-way-page .pay-way-left button {
  width: 100%;
}

.pay-way-page .check {
  display: none;
}

.pay-way-page .check-btn {
  display: none
}

.pay-way-page .pay-way-left .end-date-row .end-date {
  position: relative;
}

.pay-way-page .pay-way-left .end-date-row .end-date .card-img {
  position: absolute;
  top: 40px;
  width: 30px;
  left: 20px
}

.pay-way-page .backdrop .laptop-backdrop {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  text-align: right;
  background-color: white;
  max-width: 40%;
  border-radius: 16px;
  margin: auto;
  margin-top: 15%;
  padding: 24px;

}

.pay-way-page .backdrop .laptop-backdrop h4 span {
  position: absolute;
  margin-left: 20px;
  font-size: 40px;
  padding: 0px;
  font-weight: 100;
  right: -40px;
   
}

.pay-way-page .backdrop .laptop-backdrop h4 span:hover {
  cursor: pointer;
}

.pay-way-page .backdrop .laptop-backdrop h4 {
  margin-right: 40px;
  position: relative
}

.pay-way-page .backdrop .laptop-backdrop .code-btns {
  display: flex;
  gap: 10px;
}

.pay-way-page .backdrop .laptop-backdrop .code-btns .btn-primary {
  width: 74%
}

.pay-way-page .backdrop .laptop-backdrop .code-btns .exit-code {
  width: 25%;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #87B2FF;
  padding: 16px 32px;
  background: #F1F6FF;
  border-radius: 8px;
}

.pay-way-page .backdrop .laptop-backdrop label {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.pay-way-page .backdrop .laptop-backdrop input {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #0B1D3B;
  height: 50px;
  padding: 0px 18px;
  background: #F1F6FF;
  border: 1.5px solid #E3EEFF;
  border-radius: 8px;
}
.pay-way-page .bottom-sheet-wrapper.mobile{
  display:none
}
.pay-way-page .bottom-sheet-wrapper.laptop{
  display:block;
}
.pay-way-page .pill-744{
  display: none;
}
.pay-way-page .check-btn-744{
  display: none;
}