.pay-way-page .pay-way-title h1{
  font-weight: 700;
font-size: 20px;
line-height: 160%;

color: #393939;
}

.pay-way-page .pay-way-title img{
  width:8px;
}
.pay-way-page h4{
  font-weight: 700;
font-size: 16px;
line-height: 160%;

color: #393939;
}
.pay-way-page .pay-way-price p{
  font-weight: 400;
font-size: 16px;
line-height: 160%;

color: #393939;
}
.pay-way-page .pay-way-price span{
    font-weight: 700;
font-size: 16px;
line-height: 160%;
}
.pay-way-page .pay-way-right .pay-way-card .pay-way-card-title .pay-way-card-title-text h4{
  font-weight: 700;
font-size: 14px;
line-height: 160%;
}
.pay-way-page .pay-way-right .pay-way-card .pay-way-card-title .pay-way-card-title-text p{
  font-weight: 400;
font-size: 14px;
line-height: 160%;
}
.pay-way-page .pill-744{
  display: block;
  margin-top:16px;
  padding: 16px;

gap: 16px;
display: flex;
  flex-direction: column;
background: #F1F6FF;

border-radius: 16px;
}
.pill-744 .pill-header{
  font-weight: 700;
font-size: 16px;
line-height: 23px;

color: #222222;
}
.pill-744 .pill-card{
  padding: 16px;
  height: 76px;
display: flex;
  align-items: center;
  justify-content: space-between;
background: #FFFFFF;

border-radius: 8px;
}
.pill-744 .pill-card p{
  margin: 0px;
  font-weight: 400;
 font-size: 16px;
 line-height: 160%;
 }
.pill-744 .pill-card h5{
  font-weight: 700;
font-size: 14px;
line-height: 160%;
max-width: 40%;
color: #393939;
  text-align:left;
}
.pay-way-page .check{
  display: none;
}
.pay-way-page .check-btn{
  margin-top:20px;
  display:none;
}
.pay-way-page .check-btn-744{
  margin-top:20px;
  width: 100%;
}
.pay-way-page .tab-744 .backdrop{
  position: fixed;
}
.pay-way-page .tab-744 .backdrop .content-backdrop ,.pay-way-page .tab-744 .backdrop .code-backdrop{
  width: 70%;
  height: fit-content;
  border-radius: 24px;
  top:25%;
  right:15%;
}
.pay-way-page .tab-744 .backdrop .content-backdrop .backdrop-title .right{
  margin-right:40px
  
}
.pay-way-page .tab-744 .backdrop .content-backdrop .backdrop-title span{
  position: absolute;
  display: inline;
  font-size: 27px;
  font-weight: 100;
  right:20px;
   cursor: pointer;
  
}
.pay-way-page .tab-744 .backdrop .content-backdrop select{
  font-weight: 400;
font-size: 16px;
line-height: 21px;

color: #0B1D3B;
}
.pay-way-page .tab-744 .backdrop .content-backdrop input{
  height: 50px;
}
.pay-way-page .tab-744 .backdrop .content-backdrop .card-number1  ,.pay-way-page .tab-744 .backdrop .content-backdrop .card-number2
{
  top:22%
}
.pay-way-page .tab-744 .backdrop .content-backdrop button{
  margin-bottom:10px
}
.pay-way-page .check-btn-744{
  display: block;
}
.pay-way-page .tab-744 .backdrop .code-backdrop .code-btns .exit-code{
  width: 25%;
}
.pay-way-page .tab-744 .backdrop .code-backdrop .code-btns .btn-primary{
  width: 75%;
}
.pay-way-page .tab-744 .backdrop .code-backdrop h4{
  text-align: right;
  padding-right:30px;
  position: relative;
  
}
.pay-way-page .tab-744 .backdrop .code-backdrop h4 span{
  position: absolute;
  right: 5px;
    display: inline;
  font-size: 27px;
  font-weight: 100;
  cursor: pointer;
}
