.pay-way-page .pay-way-title h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
}

.pay-way-page .pay-way-title img {
  width: 15px
}

.pay-way-page article .pay-way-right {
  width: 50%
}

.pay-way-page article .pay-way-left {
  width: 50%
}

.pay-way-page .backdrop .laptop-backdrop {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  text-align: right;
  background-color: white;
  max-width: 40%;
  border-radius: 16px;
  margin: auto;
  margin-top: 20%;
  padding: 24px;
}

.pay-way-page .backdrop .laptop-backdrop h4 span {
  position: absolute;
  margin-left: 20px;
  font-size: 40px;
  padding: 0px;
  font-weight: 100;
  right: -40px
}

.pay-way-page .backdrop .laptop-backdrop h4 span:hover {
  cursor: pointer;
}

.pay-way-page .backdrop .laptop-backdrop h4 {
  margin-right: 40px;
  position: relative
}

.pay-way-page .backdrop .laptop-backdrop .code-btns {
  display: flex;
  gap: 10px;
}

.pay-way-page .backdrop .laptop-backdrop .code-btns .btn-primary {
  width: 74%
}

.pay-way-page .backdrop .laptop-backdrop .code-btns .exit-code {
  width: 25%;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #87B2FF;
  padding: 16px 32px;
  background: #F1F6FF;
  border-radius: 8px;
}

.pay-way-page .backdrop .laptop-backdrop label {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.pay-way-page .backdrop .laptop-backdrop input {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #0B1D3B;
  height: 50px;
  padding: 0px 18px;
  background: #F1F6FF;
  border: 1.5px solid #E3EEFF;
  border-radius: 8px;
}