.pay-way-page.container {
  margin: 100px auto;
  padding: 8px;
  text-align: right;
}
.pay-way-page .pill-744{
  display: none;
}
.pay-way-page .pay-way-title {
  display: flex;
  margin-right: 17px;
  gap: 16px;
  align-items: center;
  margin-bottom: 18px;

}

.pay-way-page .pay-way-price .code-mobile {
  display: block;
}

.pay-way-page .pay-way-price .code-laptop {
  display: none
}

.pay-way-page article {
  background: #F1F6FF;
  border-radius: 16px;
  padding: 16px 8px;
  margin-top: 10px;
}

.pay-way-page .pay-way-title h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
}

.pay-way-page h4 {
  margin: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #393939;

}

.pay-way-page .pay-way-price p {
  margin: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #393939;
}

.pay-way-page .pay-way-price span {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--r-primary);
  margin-right: 10px;
}

.pay-way-page .pay-way-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pay-way-page .pay-way-price img {
  width: 56px;
  height: 56px;
  padding: 10px;
  background: rgba(255, 138, 0, 0.13);
  border-radius: 8px;
}

.pay-way-page article .pay-way-card {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.pay-way-page article .pay-way-card .pay-way-card-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pay-way-page article .pay-way-card input {
  margin-right: 20px
}

.pay-way-page article .pay-way-card .pay-way-card-title .pay-way-card-title-text h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;
  color: #393939;
}

.pay-way-page article .pay-way-card .pay-way-card-title .pay-way-card-title-text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #393939;
  margin: 0px
}

.pay-way-page article .pay-way-hr {
  display: flex;
  justify-content: center;
  align-items: center
}

.pay-way-page article .pay-way-hr hr {

  width: 50%;
  margin: 10px
}

.pay-way-page article .pay-way-hr p {
  padding: 0px;
}

.bottom-sheet-wrapper .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;

  /* initially it will be hidden */
  opacity: 0;
  pointer-events: none;
}

.bottom-sheet-wrapper .bottom-sheet {

  background: #fff;
  width: 104%;
  min-height: 300px;
  /*! position: absolute; */
  z-index: 2;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;

  /* centereing an absolute div */

  transform: translate(2%, 40%);
  /* initially it will be pushed down out of the view. */
}

.bottom-sheet-wrapper .backdrop-open {
  z-index: 2;
  opacity: 1;
  pointer-events: all;
}

.pay-way-page .check-btn {
  width: 100%;
}

.pay-way-page .check {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9F9F9F;
  margin: 23px;
}

.pay-way-page .content-backdrop {
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.pay-way-page .backdrop-open .code-backdrop .code-btns {
  margin-top: 32px;
  display: flex;
  gap: 10px;
  justify-content: center
}

.pay-way-page .backdrop-open .code-backdrop .code-btns .btn-primary {
  width: 70%
}

.pay-way-page .backdrop-open .code-backdrop .code-btns .exit-code {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #87B2FF;
  background: #F1F6FF;
}

.pay-way-page .backdrop-open .content-backdrop label {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0B1D3B;
}

.pay-way-page .backdrop-open .content-backdrop input {
  background: #F1F6FF;
  border: 1.5px solid #E3EEFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0B1D3B;
}

.pay-way-page .backdrop-open .content-backdrop #card-number {}

.pay-way-page .backdrop-open .content-backdrop .card-number1 {
  width: 40px;
  position: absolute;
  top: 20.5%;
  left: 20px
}

.pay-way-page .backdrop-open .content-backdrop .card-number2 {
  width: 40px;
  position: absolute;
  top: 20.5%;
  left: 70px
}

.pay-way-page .backdrop-open .content-backdrop .end-date-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px
}

.pay-way-page .backdrop-open .content-backdrop .end-date-row .end-date {
  text-align: right;
}

.pay-way-page .backdrop-open .content-backdrop .end-date-row .end-date input {
  padding: 0px 18px;
  background: #F1F6FF;
  border: 1.5px solid #E3EEFF;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  margin-top: 8px;
}

.pay-way-page .backdrop-open .content-backdrop .end-date-row .end-date label {
  text-align: right;
  margin-right: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0B1D3B;
}

.pay-way-page .backdrop-open .content-backdrop .backdrop-title {
  display: flex;
  justify-content: space-between;
}

.pay-way-page .backdrop-open .content-backdrop .backdrop-title .right {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #222222;
}

.pay-way-page .backdrop-open .content-backdrop .backdrop-title .left {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #222222;
}

.pay-way-page .backdrop-open .content-backdrop select {
  padding: 0px 18px;
  background: #F1F6FF;
  border: 1.5px solid #E3EEFF;
  border-radius: 8px;
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0B1D3B;
  margin-bottom: 42px;
}

.pay-way-page .backdrop-open .content-backdrop button {
  margin-bottom: 42px;
}

.pay-way-page .backdrop-open .pill-backdrop {
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.pay-way-page .backdrop-open .pill-backdrop .pill-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #222222;
  margin-bottom: 10px
}

.pay-way-page .backdrop-open .pill-backdrop .pill-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  background: #F1F6FF;
  border-radius: 8px;
  padding: 16px;
  text-align: right
}

.pay-way-page .backdrop-open .pill-backdrop .pill-card h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #393939;
}

.pay-way-page .backdrop-open .pill-backdrop .pill-card p {
  margin: 0px;
  margin-left: 79px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
}

.pay-way-page .backdrop-open .code-backdrop {
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.pay-way-page .backdrop-open .code-backdrop label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0B1D3B;
  text-align: right
}

.pay-way-page .pay-way-left {
  display: none;
}

.pay-way-page .pay-way-left .pill-description h4 {
  display: block;
}

.pay-way-page .bottom-sheet-wrapper.laptop {
  display: none;
}
.pay-way-page .check{
  display: block;
}
.pay-way-page .check-btn-744{
  display: none;
}
.pay-way-page .tab-744 .backdrop .content-backdrop .end-date-row .end-date{
  width: 50%;
}
.pay-way-page .tab-744 .backdrop .content-backdrop .end-date-row{
  width: 100%;
}
.pay-way-page .tab-744 .backdrop .code-backdrop h4 span {
  display: none;
}
.pay-way-page .tab-744 .backdrop .content-backdrop span{
  display: none;
}