.payment-completed-page .right-side {
  display: none;
}

.payment-completed-page .left-side {
  padding: 16px;
  margin-top: 80px
}

.payment-completed-page .left-side .text .text-row {
  display: flex;
  justify-content: space-between;
  background: #F1F6FF;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 8px;
  height: 57.6px;
  padding-right: 16px;
  padding-left: 16px;
}

.payment-completed-page .left-side .text .text-row p {
  text-align: left;
  max-width: 60%;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #393939;
  margin: 0px;

}

.payment-completed-page .left-side .text .text-row h5 {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
}

.payment-completed-page .left-side .title {

  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 18px;

}

.payment-completed-page .left-side .title h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #0B1D3B;
}

.payment-completed-page .left-side .text .state-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 98px;
}

.payment-completed-page .left-side .text .state-row h5 {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
}

.payment-completed-page .left-side .text .state-row p {
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #393939;
  margin: 0px;
  color: var(--r-primary)
}

.payment-completed-page .left-side .text hr {
  height: 2px;
  width: 99%;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 24px;
}

.payment-completed-page .left-side button {
  width: 100%;
}