.payment-completed-page article {
  display: flex;
  align-items: center;
  margin-top: 10%
}

.payment-completed-page.container {
  width: 100%
}
.payment-completed-page article .right-side img{
  width: 100%;
}
.payment-completed-page article .right-side {
  display: block;
  width: 50%;

}

.payment-completed-page article .left-side {
  margin: 0px;
  width: 50%;
}

.payment-completed-page article .left-side .title {
  justify-content: right;
}

.payment-completed-page article .left-side .title h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.payment-completed-page article .left-side .text .text-row {
  background-color: white;
  margin-bottom: 0px;
}

.payment-completed-page article .left-side .text .text-row p {
  max-width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.payment-completed-page article .left-side .text .state-row p {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.payment-completed-page article .left-side .text .state-row {
  margin-bottom: 48px
}