.payment-completed-page article .right-side {
  display: block;
  width: 100%;

}
.payment-completed-page article .right-side img{
  width: 80%
}
.payment-completed-page article{
  margin-top:100px;
  
}
.payment-completed-page article .left-side .title{
  justify-content: right;
   
}
.payment-completed-page article .left-side .title h4{
  font-weight: 700;
font-size: 20px;
line-height: 140%;

color: #0B1D3B;
}
.payment-completed-page article .left-side .text .text-row{
  background-color: white;
  margin: 0px;
}

.payment-completed-page article .left-side .text .text-row p{
  max-width: 100%;
  font-weight: 700;
font-size: 16px;
line-height: 160%;

color: #393939;
}


