.privacy-policy.container {
  padding: 16px;
  text-align: right;
  margin-top: 50px;
  color: #000000;
}

.privacy-policy h4 {
  color: #000000;

  margin: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.privacy-policy h5 {
  color: #000000;

  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  margin: 0px;
  padding: 0px;
}

.privacy-policy p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  margin: 0px;
  padding: 0px;
}
h4.fotter-header.container {
   color: #FFFFFF;
 }


