.privacy-policy.container {
  text-align: right;
  margin-top: 130px
}

.privacy-policy h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 32px
}

.privacy-policy h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

.privacy-policy p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}

