.privacy-policy article div p{
  margin-bottom: 50px;
    font-weight: 400;
font-size: 16px;
line-height: 160%;
}
.privacy-policy article div h5{
      font-weight: 700;
font-size: 16px;
line-height: 160%;
}
